#homepage-video-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 305px;
  position: relative;
  left: 15.7vw;
  width: 83.2vw; /* 1.1vw taken by the scroll bar */
  height: 100%;
  margin-top: 57px;
  padding: 24px 16px;
  background-color: #f9f9f9;
}

.video-gallery-item {
  margin: 0 8px 40px;
  padding: 4px;
  border-radius: 4.5px;
}

.video-gallery-item a {
  text-decoration: none;
}

.video-gallery-item-image-div {
  position: relative;
}

.video-gallery-item-image {
  width: 100%;
  height: 166.367px;
  object-fit: cover;
}

.video-gallery-item-image-duration {
  position: absolute;
  bottom: 4px;
  right: 0;
  z-index: 1;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 3px 4px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}

.video-gallery-item-image-info-div {
  display: flex;
  padding: 7px 24px 0px 4px;
}

.video-gallery-item-avatar-image {
  margin-right: 12px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.video-gallery-item-image-info-span {
  overflow-x: hidden;
}

.video-gallery-item-image-info-span h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.25rem;
  margin-right: 6px;
  font-size: 0.92rem;
  font-weight: 500;
  color: #030303;
}

.video-gallery-item-image-info-span div {
  font-size: 0.75rem;
}

.video-gallery-item-image-info-span .channel-link {
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606060;
}

.video-gallery-item-image-info-span .channel-link:hover {
  color: #030303;
}

.video-gallery-item-image-info-span .video-view-count {
  color: #606060;
}
