#next-page-spinner {
  width: 100%;
  padding: 25px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 40;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 17px -10px 40px 30px #fff;
}

#next-page-spinner > div {
  background-color: #696969;
  height: 50px;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#next-page-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#next-page-spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

#next-page-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#next-page-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
