aside {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  height: 100vh;
  margin-top: 55px;
  background-color: #fff;
  color: #030303;
  font-size: 0.9rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

aside:hover {
  scrollbar-color: #909090 transparent;
}
